:root {
  font-family: 'open-sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  border-radius: 28px;
}

body {
  background-color: #29292e;
  padding: 20px;
}
body p {
  margin-bottom: 10px;
}

#header {
  padding: 50px 50px 0px 0px;
}

#header h1 {
  color: #1b1b1b;
  margin-bottom: 40px;
}

#header p {
  text-align: center;
  margin: 20px 5px 5px 20px;
}
.texto-red {
  color: #e1624f;
  gap: 8px;
  font-weight: bold;
  font-size: 16px;
}

.page {
  background-color: #f5f4f0;
}
